@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
.form{
 


    position: absolute;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 90%;
    width: 90%;
    border: 2px solid #80808000;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 2px 2px 40px grey;
    left: 5%;
    top: 5%;
    font-family: 'Lobster Two', cursive;
}


.backbut{
    position: absolute;
    top: 5%;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: 1px 1px 10px grey;
    background-color: #d588de;
    height: 5vh;
}

.submit{
    outline: none;
    background-color: #99ff99;
    border: 2px solid #80808000;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    height: 7vh;
  
}
.submit:hover{
    box-shadow: 2px 1px 10px rgba(190, 115, 252, 0.514);
}
.submit:active{
    background-color: rgb(252, 125, 189);
    color: white;
}
.form2{
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
    height: 40vh;
    align-content: stretch;

}
.form2 input{
 
    margin: 2%;
    height: 7vh;
    text-align: center;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 23%);
  width:100%;
}@media only screen and (min-width:768px)
{
    .form{
       
        width:30%;
        left:33%;
        
        place-self: center;
        min-height: 150px;

    }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #85ff75;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
