
.maindiv
{
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 1000px 20px rgb(56, 100, 221);
    background-color: white;
    position: absolute;
    padding: 3%;
    top:50px;
   place-self: center;
    width:80%;
    left:7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  


}

.maindiv input{
    width:70%;
    margin: 2%;
    height: 25px;
    outline:none;
    
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
    box-shadow: 2px 3px 10px 3px rgba(111, 159, 230, 0.514);
}

.divlogin{
    width:70%;
    margin-top:3em;
    height:2.5em;
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
    
   background-color: rgb(140, 240, 140);
   outline: none;

}
.loadingimg{
    position: absolute;
  width:100%;
  height:100%;
    z-index: 1;
   
  
  
  

}
.divlogin:hover{
    box-shadow: 2px 1px 10px rgba(190, 115, 252, 0.514);
}
.divlogin:active{
    background-color: rgb(252, 125, 189);
    color: white;
}
.divsignup
{
    position: relative;
    margin-right: -70%;
    outline: none;
    border:2px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
   
    box-shadow: 2px 1px 10px rgba(190, 115, 252, 0.514);
   background-color: khaki;
}
input{
    height: 100%;
}
.divsignup:hover{
    box-shadow: 2px 1px 10px rgba(157, 95, 207, 0.514);
}
.divsignup:active{
    box-shadow: 2px 1px 10px rgba(44, 26, 58, 0.514);
}
@media only screen and (min-width:768px)
{
    .maindiv{
       
        width:30%;
        left:33%;
        
        place-self: center;
        min-height: 350px;

    }
}
